<div class = "pageBody">
    <h4>Project made for TL summer practice of 2022</h4>
    <p>"Schedule For Students" presents convenient way of organizing your studying. Simple design and interface, which ensure availability,as well as search features made by using Angular Material will make your experience of using this project more enjoyable. </p>
    <h6>Available features:</h6>
    <ul>
        <li>Creating,updating,and deleting teacher,subjects,schedule components</li>
        <li>Angular material tabels with search features</li>
        <li>Adjustable table size</li>
        <li>Your every action is accompanied by alerts</li>
        <li>Navigation using side-bar</li>
    </ul>
    <p style="margin-top: 10px;">Made by Lapukhin.A.A</p>
</div>
